# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [2]:
apple = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv")

In [4]:
.cat

AttributeError: Can only use .cat accessor with a 'category' dtype

### Step 3. Assign it to a variable apple

### Step 4.  Check out the type of the columns

### Step 5. Transform the Date column as a datetime type

datetime64[ns]

        Date   Open   High    Low  Close    Volume  Adj Close
0 2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1 2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2 2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3 2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4 2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 6.  Set the date as the index

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 7.  Is there any duplicate dates?

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

              Open    High     Low   Close     Volume  Adj Close
Date
1980-12-12   28.75   28.87   28.75   28.75  117258400       0.45
1980-12-15   27.38   27.38   27.25   27.25   43971200       0.42
1980-12-16   25.37   25.37   25.25   25.25   26432000       0.39
1980-12-17   25.87   26.00   25.87   25.87   21610400       0.40
1980-12-18   26.63   26.75   26.63   26.63   18362400       0.41
1980-12-19   28.25   28.38   28.25   28.25   12157600       0.44
1980-12-22   29.63   29.75   29.63   29.63    9340800       0.46
1980-12-23   30.88   31.00   30.88   30.88   11737600       0.48
1980-12-24   32.50   32.63   32.50   32.50   12000800       0.51
1980-12-26   35.50   35.62   35.50   35.50   13893600       0.55
1980-12-29   36.00   36.13   36.00   36.00   23290400       0.56
1980-12-30   35.25   35.25   35.12   35.12   17220000       0.55
1980-12-31   34.25   34.25   34.13   34.13    8937600       0.53
1981-01-02   34.50   34.75   34.50   34.50    5415200       0.54
1981-01-05   33.87   33.87   33.75   33.75    8932000       0.53
1981-01-06   32.37   32.37   32.25   32.25   11289600       0.50
1981-01-07   31.00   31.00   30.88   30.88   13921600       0.48
1981-01-08   30.37   30.37   30.25   30.25    9956800       0.47
1981-01-09   31.88   32.00   31.88   31.88    5376000       0.50
1981-01-12   31.88   31.88   31.62   31.62    5924800       0.49
1981-01-13   30.63   30.63   30.50   30.50    5762400       0.48
1981-01-14   30.63   30.75   30.63   30.63    3572800       0.48
1981-01-15   31.25   31.50   31.25   31.25    3516800       0.49
1981-01-16   31.12   31.12   31.00   31.00    3348800       0.48
1981-01-19   32.87   33.00   32.87   32.87   10393600       0.51
1981-01-20   32.00   32.00   31.88   31.88    7520800       0.50
1981-01-21   32.50   32.75   32.50   32.50    3976000       0.51
1981-01-22   32.87   33.13   32.87   32.87    8887200       0.51
1981-01-23   32.87   33.00   32.75   32.75    2805600       0.51
1981-01-26   32.37   32.37   32.25   32.25    6160000       0.50
...            ...     ...     ...     ...        ...        ...
2014-05-27  615.88  625.86  615.63  625.63   87216500      89.38
2014-05-28  626.02  629.83  623.78  624.01   78870400      89.14
2014-05-29  627.85  636.87  627.77  635.38   94118500      90.77
2014-05-30  637.98  644.17  628.90  633.00  141005200      90.43
2014-06-02  633.96  634.83  622.50  628.65   92337700      89.81
2014-06-03  628.46  638.74  628.25  637.54   73177300      91.08
2014-06-04  637.44  647.89  636.11  644.82   83870500      92.12
2014-06-05  646.20  649.37  642.61  647.35   75951400      92.48
2014-06-06  649.90  651.26  644.47  645.57   87484600      92.22
2014-06-09   92.70   93.88   91.75   93.70   75415000      93.70
2014-06-10   94.73   95.05   93.57   94.25   62777000      94.25
2014-06-11   94.13   94.76   93.47   93.86   45681000      93.86
2014-06-12   94.04   94.12   91.90   92.29   54749000      92.29
2014-06-13   92.20   92.44   90.88   91.28   54525000      91.28
2014-06-16   91.51   92.75   91.45   92.20   35561000      92.20
2014-06-17   92.31   92.70   91.80   92.08   29689800      92.08
2014-06-18   92.27   92.29   91.35   92.18   33493800      92.18
2014-06-19   92.29   92.30   91.34   91.86   35486400      91.86
2014-06-20   91.85   92.55   90.90   90.91  100813200      90.91
2014-06-23   91.32   91.62   90.60   90.83   43618200      90.83
2014-06-24   90.75   91.74   90.19   90.28   38988300      90.28
2014-06-25   90.21   90.70   89.65   90.36   36852200      90.36
2014-06-26   90.37   91.05   89.80   90.90   32595800      90.90
2014-06-27   90.82   92.00   90.77   91.98   64006800      91.98
2014-06-30   92.10   93.73   92.09   92.93   49482300      92.93
2014-07-01   93.52   94.07   93.13   93.52   38170200      93.52
2014-07-02   93.87   94.06   93.09   93.48   28420900      93.48
2014-07-03   93.67   94.10   93.20   94.03   22891800      94.03
2014-07-07   94.14   95.99   94.10   95.97   56305400      95.97
2014-07-08   96.27   96.80   93.92   95.35   65130000      95.35

[8465 rows x 6 columns]

### Step 9. Get the last business day of each month

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.